.header{
    margin: 0 2.5rem;
    padding: 0.5rem 0;
    align-items: center;
    display: flex;
    justify-content: space-between;

}
.headerRight{
font-size: 28px;
/* border: 2px solid white; */
font-weight: bold;
}

a > span{
    margin: 0 30px;
    /* font-size: 1.3rem; */
    cursor: pointer;
    color: white;
    
}
a>span:hover{
    color: rgb(197, 194, 194);
}

.header-icon{
    width: 80px;
    cursor: pointer;
    border: 2px solid rgb(74, 77, 29);
    border-radius:10px;
}
.header-icon:hover{
    border: 3px solid gold;
}